<div class="figma-container">
  <div class="flex-row" style="gap: 52px">
    <div class="flex-col-start" style="gap: 40px; max-width: 550px;" data-reveal="left">
      <div class="flex-col-start" style="gap: 16px">
        <h1 class="heading-2" style="color: var(--primary-text);">
          Why Choose Vigilant Security Services?
        </h1>
        <h2 class="card-title">SIA-Approved Security Services Company</h2>
        <p
          class="body-large"
          style="text-align: left; color: var(--primary-text);"
        >
          As an SIA-approved contractor for Security Guarding, Door Supervision,
          and Keyholding, we meet the highest industry standards set by the
          Security Industry Authority. This prestigious accreditation
          demonstrates our commitment to excellence and confirms that our
          security services in London consistently deliver quality protection
          that exceeds regulatory requirements.
        </p>
      </div>
    </div>

    <div class="img-container" data-reveal="right">
      <img
        class="trust-img"
        src="/guarding-services.jpg"
        alt="vigilant security guards"
      />
    </div>
  </div>
</div>

<style>
  .trust-img {
    width: 518px;
    height: 320px;
    border-radius: 8px;
  }
</style>
