<div class="figma-container" style="gap: 32px;">
  <div class="flex-col" style="gap: 32px">
    <h1 class="heading-1" style="max-width: 800px;" data-reveal="up">
      Secure Your Future With Vigilance Today
    </h1>
    <div
      class="flex-row"
      style="width: 100%; justify-content: space-between; padding:20px 0px;"
    >
      <button class="primary-btn flex-row">
        <img src="/icons/quick-reply.svg" alt="box icon" />
        <span> Quick Quote </span>
      </button>
      <button class="primary-btn flex-row">
        <img src="/icons/call-icon.svg" alt="phone icon" />
        <span> Request Callback </span>
      </button>
      <button class="primary-btn flex-row">
        <img src="/icons/call-icon.svg" alt="phone icon" />
        <span> Contact Us </span>
      </button>
    </div>
  </div>
</div>
