---
import HeroCarousel from "./hero/HeroCarousel.astro";
---

<div class="figma-container hero-bg">
  <div class="hero-section">
    hammad
    <HeroCarousel />
  </div>
</div>

<style>
  .hero-bg {
    background-color: var(--color-primary);
  }

  .hero-section {
    display: flex;
    /* width: 1280px;
    height: 832px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .chip {
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1.5px solid #14b8a6;
    border-radius: 12px;
  }

  .status {
    position: absolute; /* float on top */
    bottom: 2px; /* adjust position */
    right: 2px;
    width: 12px;
    height: 12px;
    background-color: #00ff00; /* green */
    border-radius: 50%; /* make it a circle */
    border: 2px solid white; /* gives that nice ring effect */
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .heading-box {
    padding: 8px;
  }
</style>
